server:
  port: 7000

jwt:
  secret: ${JWT_SECRET:dev-secret-key-change-me-must-be-at-least-32-bytes-long}
  expiration-ms: ${JWT_EXPIRATION_MS:3600000}

rabbitmq:
  exchange: events.exchange

  registration:
    routing-key: events.registration

  login:
    routing-key: events.login

  queue:
    registration: events.registration.queue
    login: events.login.queue

spring:

  rabbitmq:
    host: ${RABBIT_HOST:localhost}
    port: ${RABBIT_PORT:5672}
    username: ${RABBIT_USER:guest}
    password: ${RABBIT_PASS:guest}

  profiles:
    active: local

  application:
    name: projectManagement

  app:
    security:
      jwt:
        secret: ${JWT_SECRET:dev-secret}
        access-expiration: 900000     # 15 mins
        refresh-expiration: 604800000 # 7 days
    rate-limit:
      enabled: true
      requests-per-minute: 60

  data:
    redis:
      host: localhost
      port: 6379

#    mongodb:
#      uri: mongodb://localhost:27017/project-management
#      auto-index-creation: true

  datasource:
    url: jdbc:mysql://localhost:3306/project-management?createDatabaseIfNotExist=true
    username: root
    password: Hari_cscs@45
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate   # Flyway manages schema
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    default-schema: project-management
    enabled: true
#    baseline-on-migrate: true
#    locations: classpath:db/migration


management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env,prometheus
